{% extends "core/base.html" %}

{% block content %}
    {% if validlink %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="row">
            <h1>Reset Password</h1>
        </div>

	{{ form.non_field_errors }}
	
        <div class="row">
            {{ form.new_password1.errors }}
            <label for="{{ form.new_password1.id_for_label }}">Old Password</label>
            <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" placeholder="Enter your new password" />
        </div>

        <br />

        <div class="row">
            {{ form.new_password2.errors }}
            <label for="{{ form.new_password2.id_for_label }}">Old Password</label>
            <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" placeholder="Confirm your new password" />
        </div>

        <br />

        <div class="row">
            <input type="submit" value="Reset Password" />
        </div>
    </form>
    {% else %}
        <p>Password reset unsuccessful</p>
    {% endif %}
{% endblock %}
