{% extends "core/base.html" %}

{% block content %}
  <form method="post" action="{% url 'django.contrib.auth.views.password_reset' %}">
    {% csrf_token %}
    <div class="row">
      <h1>Reset Password</h1>
    </div>

    {{ form.non_field_errors }}
    
    <div class="row">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">Email</label>
      <input type="Email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="Enter your Email address" />
    </div>

    <br />

    <div class="row">
      <input type="submit" value="Reset Password" />
    </div>
  </form>
{% endblock %}
